<div class="footer">

  <div class="footer__brand hide-mobile">
    <%= image_tag "logo-color.svg", class: "footer__logo" %>
    <p>Qonto est un Établissement de Paiement, supervisé par l’ACPR (Banque de France), sous le numéro CIB 16958.</p>
    <p>Fait à Paris avec 💜</p>
  </div>

  <div class="footer__links">

    <div class="footer__links__group">
      <h4>A propos</h4>
      <p><%= link_to "Notre histoire", "#" %>
      <p><%= link_to "Nos clients", "#" %>
      <p><%= link_to "Blog", "#" %>
      <p><%= link_to "Carrières", "#" %>
    </div>
    <div class="footer__links__group">
      <h4>Aide</h4>
      <p><%= link_to "Fiches pratiques", "#" %></p>
      <p><%= link_to "Comparateur bancaire", "#" %></p>
      <p><%= link_to "Contactez-nous", "#" %></p>
      <p><%= link_to "FAQ", "#" %></p>
    </div>
    <div class="footer__links__group">
      <h4>Produit</h4>
      <p><%= link_to "Nouveautés", "#" %></p>
      <p><%= link_to "Taris", "#" %></p>
      <p><%= link_to "API", "#" %></p>
    </div>
    <div class="footer__links__group">
      <h4>Pratique</h4>
      <p><%= link_to "Kit media", "#" %></p>
      <p><%= link_to "Contact presse", "#" %></p>
      <p><%= link_to "Contact partenariat", "#" %></p>
      <p><%= link_to "Programme d'affiliation", "#" %></p>
    </div>
     <div class="footer__links__group">
      <h4>Légal</h4>
      <p><%= link_to "CGU", "#" %></p>
      <p><%= link_to "Confidentialité", "#" %></p>
      <p><%= link_to "Cookies", "#" %></p>
    </div>
    <%= image_tag "stores.svg" %>


  </div>

  <div class="footer__socials">
    <div class="d-flex justify-content-around">
      <i class="fab fa-facebook-square footer__socials__icon"></i>
      <i class="fab fa-twitter footer__socials__icon"></i>
      <i class="fab fa-linkedin-in footer__socials__icon"></i>
      <i class="fab fa-instagram footer__socials__icon"></i>
      <i class="fab fa-dribbble footer__socials__icon"></i>
      <i class="fab fa-medium footer__socials__icon footer__socials__border-right"></i>
      <%= image_tag "FR.png", width: "20"%>
    </div>
    <div class="newsletter">

    </div>
  </div>


</div>
