<!DOCTYPE html>
<html>
  <head>
    <title>QontoTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Qonto • Compte pro en ligne pour entreprises et indépendants</title>
    <meta name="description" content="Qonto s'adresse à toutes les entreprises et à toutes les formes juridiques, que vous soyez un freelance ou une équipe. Pour les freelances et les indépendants.">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag 'favicon.png' %>

  </head>


  <body>
    <%= render "layouts/flashes" %>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
